@if (settings && tableData) {
<table class="table-data">
  <tr>
    @for (definition of settings.fieldDefinition; track definition) {
    <th>
      {{definition.heading}}
    </th>
    }
  </tr>
  @for (data of tableData; track data.id; let i = $index) {
  <tr>
    @for (definition of settings.fieldDefinition; track $index) {
    <td>
      {{iTableSharedFunctionService.mutiValueCombination(data,definition.contentArray, definition.type,
      definition.callMethod)}}
    </td>
    }
  </tr>
  }
</table>
}
@if (tableData && tableData.length === 0) {
<div class="no-data">
  No data to display
</div>
}