<div style="max-height: 400px;min-height: 400px; overflow: auto;">
  <ng-container *ngTemplateOutlet="tabData[currentStep].template"></ng-container>
</div>
<section style="min-width:100%; display: flex; justify-content: flex-end;">
  <i-wizard-steps (next)="nextWizard()" (previous)="previousWizard()" [stepName]="currentStep"
    [validity]="tabData[currentStep].formValidation" [isFirst]="currentStep === 0"
    [isLast]="currentStep === tabData.length -1" />
</section>
<div class="dot">
  @for (i of tabData; track $index; let num = $index) {
  <div [ngClass]="{
        'one-step' : tabData.length === 1,
        'two-steps' : tabData.length === 2,
        'three-steps' : tabData.length === 3,
        'four-steps' : tabData.length === 4,
        'more-steps' : tabData.length > 4,
        'actual-dot-complete': num <= currentStep,
        'actual-dot-incomplete': num > currentStep,
      }" (click)="stepValidityChecker(num)">
    <div>
      {{i.title}}
    </div>
  </div>
  }
</div>