<div style="max-height: 400px;min-height: 400px; overflow: auto;">
  <span id="{{iWizardService.uuid}}-top-navigation-span"></span>
  <ng-content></ng-content>
</div>
<section style="min-width:100%; display: flex; justify-content: flex-end;">
  @for (i of tabData; track i; let first = $first; let last = $last) {
  <i-wizard-steps id="{{iWizardService.uuid}}-button-{{ i.id }}" (next)="nextWizard(i.id)"
    (previous)="previousWizard(i.id)" [stepName]="i.id" [validity]="i.formValidation" [isFirst]="first"
    [isLast]="last" />
  }
</section>
<div class="dot">
  @for (i of tabData; track $index) {
  <div [ngClass]="{
        'one-step' : tabData.length === 1,
        'two-steps' : tabData.length === 2,
        'three-steps' : tabData.length === 3,
        'four-steps' : tabData.length === 4,
        'more-steps' : tabData.length > 4
      }" (click)="currentStepValidityChecker(i.id)">
    <div id="{{iWizardService.uuid}}-nav-{{ i.id }}">
      <div>
        {{i.title}}
      </div>
    </div>
  </div>
  }
</div>