<i-wizard [tabData]="stepsData">
  <ng-template appWizardStep>
    <app-emp-general [form]="empGeneralFormGroup"></app-emp-general>
  </ng-template>
  <ng-template appWizardStep>
    <app-emp-contact [form]="empContactFormGroup" [socialInfoFormArray]="empSocialInfoFormArray"
      (addSocialInfo)="onAddSocialInfo()" (deleteSocialInfo)="onDeleteSocialInfo($event)"></app-emp-contact>
  </ng-template>
  <ng-template appWizardStep>
    <app-emp-experience [form]="empExperienceFormGroup" [experienceFormArray]="empExperienceFormArray"
      (addExperience)="onAddExperience()" (deleteExperience)="onDeleteExperience($event)" (getRole)="onGetRole($event)"
      (storeNewRole)="onStoreNewRole($event)" />
  </ng-template>
  <ng-template appWizardStep>
    <app-emp-skill [form]="empSkillFormGroup" [skillFormArray]="empSkillFormArray" (addSkill)="onAddSkill()"
      (deleteSkill)="onDeleteSkill($event)" (getSkill)="onGetSkill($event)"
      (storeNewSkill)="onStoreNewSkill($event)"></app-emp-skill>
  </ng-template>
</i-wizard>